h1 {
	text-align: center;
	font-family: 'Georgina', sans-serif;
	font-size: 5rem;
	color: brown;
}

h2 {
	font-family: 'Georgina', sans-serif;
	font-size: 3rem;
	color: red;
	margin: 60px 0px 0px 10px;
}

body {
	background-color: pink;
}

/*.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
} */

.container-cake-img, .container-brownie-img, .container-cookies-img, .container-loaf-img {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

img {
	width: 400px;
	height: 400px;
	margin: 10px;
	border: 5px solid #8d6565;
	transition: all 1s;
}

img:hover {
	transform: scale(1.1);
}

p {
	color: #6a1d1d;
	font-size: 20px;
	font-family: 'Georgina', sans-serif;
	margin: 0px 0px 30px 10px;
}
