h1 {
	text-align: center;
	font-family: 'Georgina', sans-serif;
	font-size: 5rem;
	color: brown
}

body {
	background-color: pink
}

img {
	width: 500px;
	hiehgt: 500px;
	margin: 5px;
	border: 5px solid rosybrown
}
